{% extends 'news/base.html' %}
{% load static %}
{% load news_tags %}

{% block title %}
    Новости :: {{ block.super }}
{% endblock title %}

{% block sidebar %}
    {% include "news/inc/_sidebar.html" %}
{% endblock sidebar %}

{% block content %}
    {% for item in all_news %}
        <div class="card mb-3">
            <div class="card-header">
                Категория: <a href="{{ item.category.get_absolute_url }}">{{ item.category }}</a>
            </div>
            <div class="card-body">
                <h5 class="card-title">{{ item.title }}</h5>
                <p class="card-text">{{ item.content|truncatewords:20 }}</p>
                <a href="{{ item.get_absolute_url }}" class="btn btn-primary">Прочитать полностью</a>
            </div>
            <div class="card-footer text-body-secondary">
                Опубликовано: {{ item.created_at }}
            </div>
        </div>
    {% endfor %}

    <!--  пагинация -->
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if is_paginated %}
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                {% endif %}
                {% for num in page_obj.paginator.page_range %}
                    {% if page_obj.number == num %}
                        <li class="page-item active"><a class="page-link">{{ num }}</a></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                {% endif %}
            {% endif %}
        </ul>
    </nav>
{% endblock content %}
